.carousel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slideContainer {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.slideContainer::-webkit-scrollbar {
  display: none;
}
.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
  padding-top: 50%;
}
.slide img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow {
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  text-align: center;
  opacity: 0.3;
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.arrow p {
  padding: 10px;
}
.arrowBack {
  left: 10px;
}
.arrowForward {
  right: 10px;
}
.arrow:hover {
  opacity: 1;
}
